numpy==1.26.4
matplotlib~=3.9.0
pillow~=10.3.0
selenium~=4.22.0
requests~=2.32.3
onnxruntime~=1.18.0
cryptography
uvicorn~=0.30.1
fastapi~=0.111.0
fastapi-restful[all]
python-multipart
opencv-python-headless==4.5.5.62
Cython
urlextract
pydantic~=2.7.4
starlette~=0.37.2